# default
spring:
  profiles:
    active: local
  # 다국어 설정 추가
  messages:
    basename: messages
    encoding: UTF-8
    cache-duration: -1
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/spring_web
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show-sql: false
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
logging:
  level:
    root: INFO
jwt:
  expire_time: 86400000 #1day
  secret: VlwEyVBsYt9V7zq57TejMnVUyzblYcfPQye08f7MGVA9XkHa
