<!DOCTYPE html>
<html lang="kr">
<head th:replace="~{fragments/common :: head('상세조회')}">
  <script defer="" src="/js/bootstrap.bundle.min.js"
          integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>
</head>

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
       th:replace="~{fragments/common :: menu('detail')}">
  </nav>
</header>
<!-- Bootstrap -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
</head>
<body class="p-5 mt-5">
<h1>회원 정보</h1>

<table class="table table-bordered table-striped mt-4">
  <thead class="table-dark">
  <tr>
    <th>이름</th>
    <th>아이디</th>
    <th>이메일</th>
    <th>도시</th>
    <th>도로</th>
    <th>우편번호</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td id="name"></td>
    <td id="userId"></td>
    <td id="email"></td>
    <td id="city"></td>
    <td id="street"></td>
    <td id="zipcode"></td>
  </tr>
  </tbody>
</table>

<button id="memberUpdate" class="btn btn-success mt-2" style="float: right; width: 10%;">회원 수정</button>
<script>
  document.addEventListener('DOMContentLoaded', async () => {
    try {
      const token = localStorage.getItem("accessToken");
      const response = await fetch("/api/v1/members/me", {
        method: "GET",
        headers: { "Authorization": `Bearer ${token}` }
      });

      if (!response.ok) {
        throw new Error('회원 정보를 불러올 수 없습니다');
      }
      const member = await response.json();
      document.getElementById('name').innerText = member.name;
      document.getElementById('userId').innerText = member.userId;
      document.getElementById('email').innerText = member.email;
      document.getElementById('city').innerText = member.city;
      document.getElementById('street').innerText = member.street;
      document.getElementById('zipcode').innerText = member.zipcode;
    } catch (error) {
      console.error(error);
    }
  });

  document.getElementById('memberUpdate').addEventListener('click', () => {
    window.location.href = "/view/update";
  });
</script>

<script th:src="@{/js/navbar.js}"></script>
</body>
</html>